
*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: black;
     overflow-x: hidden;
}
.main-con
{
height: 150vh;
width:100%;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(14, 13, 13);
}
.text1
{
    margin-top: 25px;
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 110px;
    border-radius: 10px;
}
.about
{
    height: 160vh;
    width: 100%;
   background-color: rgb(35, 37, 37);
    border-radius: 8px;
}

.nav-logo
{
    height: 350px;
    background-color: rgb(54, 44, 197);
}
.tex1box
{
    margin-top: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:start;
}

.about h1
{
margin-left: 20px;
font-family: sans-serif;
color: white;
text-align: center;
font-weight: 300;
}

.logobox
{
    height: 100px;
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.logo
{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50px;
    background-image: url("logo.jpg");
    background-size:cover ;
}

.logoName h1
{
    margin-top: 20px;
    color: white;
    letter-spacing: 2.5px;

}

 #text1
{
    margin: 90px 0px 0px 25px;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: white;
}

 #text2
{
    font-size: 15px;
    margin-left:25px ;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

 #text3
{
    font-size: 15px;
    margin-left:25px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

 #text4
{
    font-size: 15px;
    margin-left:25px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}


 #text5
{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    margin-left:25px ;
    font-family: sans-serif;
    color: white;
}

#text6
{
    padding: 20px;
    color: white;
     margin-left:25px ;

}

#text7
{
    padding: 20px;
    color: white;
    margin-left:25px;
}

#text8
{
   padding: 20px;
   color: white;
   margin-left:25px;
}

.more-info
{
 width: 100%;   
  margin-top: 50px;

}

.chenal-info
{
   margin-left: 25px; 
   font-size: 20px;
   color: white;
}

.chenal-info a
{

    text-decoration: none;
    color: white;
    font-size: 15px;
}

.chenal-loc
{
   margin: 20px 0px 20px 25px; 
   font-size: 20px;
   color: white; 
   display: flex; 
}

.chenal-loc p
{
    margin-left: 3px;
    font-size: 20px;

}

.subscribers
{
    margin: 20px 0px 20px 25px; 
   font-size: 20px;
   color: white; 
   display: flex; 
}

.youtube-videos 
{
   margin: 20px 0px 20px 25px; 
   font-size: 20px;
   color: white; 
   display: flex;  
}

.youtube-videos p
{
    margin-left: 3px;
    font-size: 20px;
}

.media-box
{
    margin-top: 30px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 15px;
}

.box1
{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: white;

}

.last-box
{
    margin-top: 25px;
    height: 50px;
    width: 100%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}