* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
}

.text1 {
  height: 100px;
  width: 100vw;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  margin: 5px 0px 5px 10px;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 800;
}

.red {
  color: #ff3b3b;
}

.white {
  color: #ffffff;
}

.navber {
  height: 50px;
  width: 100vw;
  border: 1px solid black;
  background: black; 
  display: flex;
  align-items: end;
 
}

.navber ul
{
 margin: 20px 10px 10px 20px;
  display: flex;
  justify-content:start;
  align-items: center;
  gap:30px;
  color: white;
  list-style: none;
}
.navber ul li
{
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

.main-content
{
padding: 30px;
height: 250px;
width: 100vw;
border: 1px solid black;
color: white;
background-color: black;
}

.main-content .channel-name h1
{
 padding: 0px;
 margin: 0px 0px 6px 0px;
 font-family: sans-serif;
 font-size: 45px;
 font-weight: 700;
}

.main-content .channel-name h2
{
 padding: 0px;
 margin: 0px 0px 6px 0px;
 font-family: sans-serif;
 font-size: 35px;
 font-weight: 550;
}
.main-content .channel-name p
{
 padding: 0px;
 margin: 0px 0px 6px 8px;
 font-family: sans-serif;
}
.main-content .subscribe
{
  margin: 20px 0px 0px 10px;
  border-radius: 10px;
}
.main-content .subscribe a
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  color:white ;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: #ff3333;
  text-decoration: none;
}

.videos-section
{
  height: 500px;
  width: 100vw;
  border: 1px solid black;
  background-color: black;
}
.videos-section p
{
  margin: 10px 0px 20px 33.5px;
  padding:5px;
  font-size:20px;
  font-weight: 600;
  font-family: sans-serif;
  color: white;
}
.videos-section .videos
{
  height: 250px;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  gap: 20px;
}

.videos-section .videos .box1
{
  height:  200px;
  width: 300px;
  border: 1px solid white;
}